# <b> JPMC Team #1: Company Relationship Analysis Tool </b>

In [2]:
import os
import pandas as pd
import numpy as np

In [7]:
#use yfinance to get stock data
import yfinance as yf
# make a price percentage change dataframe of stock data for each ticker in the year 2022
def get_stock_data(ticker):
    stock = yf.Ticker(ticker)
    stock_data = stock.history(period='1y', interval='1d')
    stock_data.drop(['Dividends', 'Stock Splits'], axis=1, inplace=True)
    stock_data['price_pct_change'] = stock_data['Close'].pct_change()
    stock_data = stock_data.dropna()
    return stock_data

In [8]:
#run the stocks through the function and get the dataframes for each stock
stock_data = get_stock_data('AAPL')
stock_data2 = get_stock_data('MSFT')
stock_data3 = get_stock_data('AMZN')

#combine all the dataframes into one dataframe
stock_data = pd.concat([stock_data, stock_data2, stock_data3], axis=0)
stock_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,price_pct_change
Date,,,,,,,,
2022-12-08 00:00:00-05:00,141.568705,142.722261,140.315714,141.857086,62128300,0.0,0.0,0.012133
2022-12-09 00:00:00-05:00,141.548804,144.760861,140.116806,141.369812,76097000,0.0,0.0,-0.003435
2022-12-12 00:00:00-05:00,141.906800,143.696798,140.275917,143.686859,70462700,0.0,0.0,0.016390
2022-12-13 00:00:00-05:00,148.669021,149.136410,143.438264,144.661423,93886200,0.0,0.0,0.006783
2022-12-14 00:00:00-05:00,144.542075,145.844791,140.375363,142.413971,82291200,0.0,0.0,-0.015536
...,...,...,...,...,...,...,...,...
2023-12-01 00:00:00-05:00,146.000000,147.250000,145.550003,147.029999,39924600,0.0,0.0,0.006434
2023-12-04 00:00:00-05:00,145.250000,145.350006,142.809998,144.839996,48294200,0.0,0.0,-0.014895
2023-12-05 00:00:00-05:00,143.550003,148.570007,143.130005,146.880005,46822400,0.0,0.0,0.014085
2023-12-06 00:00:00-05:00,147.580002,147.850006,144.279999,144.520004,39603800,0.0,0.0,-0.016068
2023-12-07 00:00:00-05:00,146.149994,147.914993,145.339996,147.149994,30729264,0.0,0.0,0.018198

In [3]:
#filename = "/Users/annahauk/Desktop/Machine Learning/SP500AdjPrice.csv"
filename = os.path.join(os.getcwd(), "SP500AdjPrice.csv")
df = pd.read_csv(filename, header = 0)

In [4]:
data    = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#S%26P_500_component_stocks')
table_symbol   = data[0]
table_industry = data[0]['GICS Sector']

#these 2 lists are in order with one another
symbols = list(table_symbol.Symbol.values)
industries = list(table_industry.values) ##Industry Sector

remove = []

symbols_to_remove = ['BF.B', 'BRK.B', 'KVUE', 'VLTO','SPY']

for i, symbol in enumerate(symbols):
    if symbol in symbols_to_remove:
        remove.append(i)
#print(remove)

#list(set(industries))

for i in remove:
    symbols.remove(symbols[i])
    industries.remove(industries[i])

#print(len(symbols))
#print(set(industries))

symbol_industry = dict(zip(symbols,industries))

df_industries = pd.DataFrame({'Industry': [symbol_industry[symbol] for symbol in symbols]})
df_industries.index = symbol_industry.keys()
df_industries = df_industries.sort_index()
df_industries.head(10)

#for i in industries:

                    Industry
A                  Materials
AAL              Real Estate
AAPL  Information Technology
ABBV             Health Care
ABNB  Information Technology
ABT              Health Care
ACGL  Communication Services
ACN   Information Technology
ADBE             Industrials
ADI   Information Technology

In [5]:
a = len(symbols)

df.index = sorted(symbols)
df = df.drop(columns = "Unnamed: 0", axis = 1)

In [6]:
df.head()

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002

In [ ]:
dictionary = dict(zip(symbols,industries))

## Don't need this -- use dataframe instead of dictionary

In [ ]:
b = []
unique_industries = list(set(dictionary.values()))
#for i in unique_industries:
    #print(i)
# Initialize lists within the list for each unique industry
for _ in unique_industries:
    b.append([])

# Append companies to their respective industry lists
for key, value in dictionary.items():
    index = unique_industries.index(value)
    b[index].append(key)

* Consumer Discretionary = 0
* Information Technology = 1
* Materials = 2
* Real Estate = 3
* Utilities = 4
* Financials = 5
* Communication Services = 6
* Industrials = 7
* Energy = 8
* Consumer Staples = 9
* Health Care = 10

# <b> <font color = #f6308e > Percentage Price Change Per Day </b>

In [ ]:
df_price = df.T
df_price_pct = df_price.pct_change()[1:]
#finds percent change between current price and prior
df_price_pct.head()

In [ ]:
df_price_pct.T.isnull().any()

# <b> <font color = #56beba > Correlations Between Stocks </b>

In [ ]:
price_corr = df_price_pct.corr()
price_corr.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
set(industries)

In [ ]:
df = df.join(df_industries)

# <b> Looking at Correlation between daily stock returns </b>

In [ ]:
df.tail()

In [ ]:
df2 = df.drop(columns= 'Industry', axis = 1)
a = df2.iloc[:, : 5]
b = df2.iloc[:, :30:6]
b

In [ ]:
x_labels = df2.T.index
x_labels = [label.split(' ')[-1] for label in x_labels]
print(x_labels)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
plt.plot(b)
plt.title('5 Stocks: Return Trend Over Timeseries')
plt.legend (['A','ACGL','ADSK','AIZ', 'ALL'], loc = 2)
x_ticks = np.arange(0, len(x_labels))

plt.xticks(x_ticks, x_labels, rotation=30)
plt.show()

In [ ]:
selected_stocks = ['A', 'ACGL', 'ADSK', 'AIZ', 'ALL']
df_selected = df.T[selected_stocks]
df_selected = df_selected.T
df_selected = df_selected.drop(columns= 'Industry', axis = 1)
df_selected

In [ ]:
x_labels2 = [str(date) for date in df_selected.T.index]
x_labels2

In [ ]:
# Plotting the data
plt.plot(df_selected.T)
plt.title('5 Stocks: Return Trend Over Time Series')
plt.legend(selected_stocks, loc=2)
x_ticks = np.arange(0, len(x_labels2))

plt.xticks(x_ticks, x_labels2, rotation=30)
plt.xlabel('Date')
plt.ylabel('Adjusted Close Price')
plt.show()

In [ ]:
c = df.loc['AIZ', df.columns[-1]]
print(c)
d = df.loc['ALL', df.columns[-1]]
print(d)

We see there is a correlation between AIZ and ALL since they follow eachother closely in the graph. Turns out, they're part of the same industry and we can calculate their correlation (later when we do Consumer Discretionary).

## <b> <font color = #f6308e > Information Technology </b> 
##### Technology and software development, hardware manufacturing, cloud computing, and IT services

In [ ]:
it = df[df['Industry'] == 'Information Technology']
it.shape
#companies with IT as its industry

In [ ]:
it = it.drop(columns= 'Industry', axis = 1)
df_price_it = it.T
df_price_pct_it = df_price_it.pct_change()[1:]

price_corr_it = df_price_pct_it.corr()
price_corr_it.head()

In [ ]:
plt.figure(figsize=(12,8))
sns.heatmap(price_corr_it, cmap = 'RdBu').set_title("Correlation heatmap for Price Changes: IT industry")
plt.show()

## <b> <font color = #f6308e > Communication Services </b> 
##### Telecommunications, cable, broadcasting, and internet services

In [ ]:
commserv = df[df['Industry'] == 'Communication Services']
commserv.shape
#companies with Communication Services as its industry

In [ ]:
commserv = commserv.drop(columns= 'Industry', axis = 1)
df_price_commserv = commserv.T
df_price_pct_commserv = df_price_commserv.pct_change()[1:]

price_corr_commserv = df_price_pct_commserv.corr()
price_corr_commserv.head()

In [ ]:
plt.figure(figsize=(11,8))
sns.heatmap(price_corr_commserv, cmap = 'BrBG').set_title("Correlation heatmap for Price Changes: Community Service industry")
plt.show()

## <b> <font color = #f6308e > Consumer Discretionary </b> 
##### Retail, automotive, entertainment, and hospitality

In [ ]:
consume = df[df['Industry'] == 'Consumer Discretionary']
consume.shape

In [ ]:
consume = consume.drop(columns= 'Industry', axis = 1)
df_price_consume = consume.T



df_price_pct_consume = df_price_consume.pct_change()[1:]
# Calculate the correlation matrix
price_corr_consume = df_price_pct_consume.corr()
# Calculate 1 - |correlation|
complement_corr_consume = 1 - abs(price_corr_consume)

complement_corr_consume.head()

In [ ]:
df_price_pct_consume

In [ ]:
plt.figure(figsize=(11,8))
sns.heatmap(complement_corr_consume, cmap = 'PiYG').set_title("Correlation heatmap for Price Changes: Consumer Discretionary industry")
plt.show()
#RdBu

## <b> <font color = #f6308e > Consumer Staples </b> 
##### Food, beverages, household goods, and personal care items,

In [ ]:
staples = df[df['Industry'] == 'Consumer Staples']
staples = staples.drop(columns= 'Industry', axis = 1)
df_price_staples = staples.T
df_price_pct_staples = df_price_staples.pct_change()[1:]

price_corr_staples = df_price_pct_staples.corr()
plt.figure(figsize=(11,8))
sns.heatmap(price_corr_staples).set_title("Correlation heatmap for Price Changes: Consumer Staples industry")
plt.show()

## <b> <font color = #f6308e > Energy </b> 
##### oil, natural gas, and renewable energy sources

In [ ]:
energy = df[df['Industry'] == 'Energy']
energy = energy.drop(columns='Industry', axis=1)
df_price_energy = energy.T
df_price_pct_energy = df_price_energy.pct_change()[1:]

# Modify correlation calculation
price_corr_energy = 1 - abs(df_price_pct_energy.corr())

plt.figure(figsize=(15, 10))
sns.heatmap(price_corr_energy, cmap='RdBu', center=0, annot=True, fmt=".2f").set_title("Correlation heatmap for Price Changes: Energy industry")
plt.show()

In [ ]:
from pandas.plotting import scatter_matrix
scatter_matrix(price_corr_energy, figsize=(30,20),alpha = 0.8)
plt.show()

## <b> <font color = #f6308e > Financials </b> 
##### money management, lending, and insurance

In [ ]:
'''
fin = df[df['Industry'] == 'Financials']
fin = fin.drop(columns= 'Industry', axis = 1)
df_price_fin = fin.T
df_price_pct_fin = df_price_fin.pct_change()[1:]

price_corr_fin = df_price_pct_fin.corr()
plt.figure(figsize=(11,8))
sns.heatmap(price_corr_fin, cmap = 'plasma').set_title("Correlation heatmap for Price Changes: Financials industry")
plt.show()
'''

In [ ]:
fin = df[df['Industry'] == 'Financials']
fin = fin.drop(columns='Industry', axis=1)
df_price_fin = fin.T
df_price_pct_fin = df_price_fin.pct_change()[1:]

# Modify correlation calculation
price_corr_fin = 1 - abs(df_price_pct_fin.corr())

plt.figure(figsize=(11, 8))
sns.heatmap(price_corr_fin, cmap='RdBu_r').set_title("Correlation heatmap for Price Changes: Financials industry")
plt.show()

In [ ]:
fin.shape

## <b> <font color = #f6308e > Health Care </b> 
##### pharmaceuticals, biotechnology, hospitals, and healthcare services

In [ ]:
care = df[df['Industry'] == 'Health Care']
care = care.drop(columns= 'Industry', axis = 1)
df_price_care = care.T
df_price_pct_care = df_price_care.pct_change()[1:]

price_corr_care= df_price_pct_care.corr()
plt.figure(figsize=(11,8))
sns.heatmap(price_corr_care, cmap = 'twilight_shifted').set_title("Correlation heatmap for Price Changes: Health Care industry")
plt.show()

## <b> <font color = #f6308e > Industrials </b> 
##### manufacturing, construction, aerospace, defense, and transportation

In [ ]:
indus = df[df['Industry'] == 'Industrials']
indus = indus.drop(columns= 'Industry', axis = 1)
df_price_indus = indus.T
df_price_pct_indus = df_price_indus.pct_change()[1:]

price_corr_indus = df_price_pct_indus.corr()
plt.figure(figsize=(11,8))
sns.heatmap(price_corr_indus, cmap = 'RdYlBu').set_title("Correlation heatmap for Price Changes: Industrials industry")
plt.show()

## <b> <font color = #f6308e > Materials </b> 
##### production of raw materials and chemicals eg. metals, minerals, and specialty chemicals.

In [ ]:
mat = df[df['Industry'] == 'Materials']
mat = mat.drop(columns= 'Industry', axis = 1)
df_price_mat = mat.T
df_price_pct_mat = df_price_mat.pct_change()[1:]

price_corr_mat = df_price_pct_mat.corr()
plt.figure(figsize=(11,8))
sns.heatmap(price_corr_mat, cmap = 'RdYlBu').set_title("Correlation heatmap for Price Changes: Materials industry")
plt.show()

## <b> <font color = #f6308e > Real Estate </b> 
##### residential and commercial properties

In [ ]:
real = df[df['Industry'] == 'Real Estate']
real = real.drop(columns= 'Industry', axis = 1)
df_price_real = real.T
df_price_pct_real = df_price_real.pct_change()[1:]

price_corr_real = df_price_pct_real.corr()
plt.figure(figsize=(11,8))
sns.heatmap(price_corr_real, cmap = 'RdYlBu').set_title("Correlation heatmap for Price Changes: Real Estate industry")
plt.show()

# <b>CLUSTER MAPS

In [ ]:
plt.figure(figsize=(7, 5))
sns.clustermap(price_corr_mat, method='average', metric='euclidean', linewidths=0.5, dendrogram_ratio = 0.3)
#dendogram ratio?
plt.title("Clustermap for Price Changes: Materials industry")
plt.show()
#turbo, jet, RdBu

In [ ]:
plt.figure(figsize=(7, 10))
sns.clustermap(price_corr_mat, method='single', metric='euclidean', linewidths=0.5, dendrogram_ratio = 0.3)
#dendogram ratio?
plt.title("Single")
plt.show()
#turbo, jet, RdBu

In [ ]:
plt.figure(figsize=(7, 5))
sns.clustermap(price_corr_mat, method='weighted', metric='euclidean', linewidths=0.5, dendrogram_ratio = 0.3)
#dendogram ratio?
plt.title("weighted")
plt.show()
#turbo, jet, RdBu

In [ ]:
plt.figure(figsize=(7, 5))
sns.clustermap(price_corr_mat, method='centroid', metric='euclidean', linewidths=0.5, dendrogram_ratio = 0.3)
#dendogram ratio?
plt.title("centroid")
plt.show()
#turbo, jet, RdBu

## Graphing Corr Matrix -- IGNORE

In [ ]:
! pip3 install networkx
! pip3 install plotly

In [ ]:
threshold = .95

links = price_corr.stack().reset_index()
links.columns = ['company1', 'company2', 'correlation']
#made price_corr go from company names as the row and column indeces to company1 being the first column header, company2 beign the second, and correlation as the third

#filtering out any correlations under the threshold that we will set and getting rid of the self loops in the nodes
links_filtered=links.loc[ (links['correlation'] > threshold) & (links['company1'] != links['company2']) ]
G=nx.from_pandas_edgelist(links_filtered, 'company1', 'company2', edge_attr = 'correlation')
nodes = list(G.nodes)
#df_company_names = pd.DataFrame(nodes, columns=['S&P Names'])
nx.set_node_attributes(G, dictionary, 'GICS Sector')