# <b>Price Predictor

#### First we'll do a week of each company

In [62]:
import numpy as np
import pandas as pd
import matplotlib
import yfinance as yf

In [63]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#S%26P_500_component_stocks')
table_symbol = data[0]
table_industry = data[0]['GICS Sector']

#these 2 lists are in order with one another
symbols = list(table_symbol.Symbol.values)
industries = list(table_industry.values) ##Industry Sector


remove = []

symbols_to_remove = ['BF.B', 'BRK.B', 'KVUE', 'VLTO','SPY']

for i, symbol in enumerate(symbols):
    if symbol in symbols_to_remove:
        remove.append(i)
#print(remove)

#list(set(industries))

for i in remove:
    symbols.remove(symbols[i])
    industries.remove(industries[i])

print(len(symbols))

symbol_industry = dict(zip(symbols,industries))
print(len(symbol_industry))

499
499

In [64]:
tickers = yf.Tickers('AAPL')

APPL = tickers.tickers['AAPL'].history(period="5d", start="2022-01-01", end="2022-12-31")
APPL.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-03 00:00:00-05:00,176.052746,181.052279,175.933951,180.190964,104487900,0.0,0.0
2022-01-04 00:00:00-05:00,180.804793,181.111693,177.329863,177.904068,99310400,0.0,0.0
2022-01-05 00:00:00-05:00,177.814959,178.369360,172.894629,173.171829,94537600,0.0,0.0
2022-01-06 00:00:00-05:00,170.974007,173.548028,169.924603,170.281006,96904000,0.0,0.0
2022-01-07 00:00:00-05:00,171.162116,172.399623,169.320704,170.449310,86709100,0.0,0.0
2022-01-10 00:00:00-05:00,167.390197,170.776016,166.489288,170.469116,106765600,0.0,0.0
2022-01-11 00:00:00-05:00,170.597835,173.429238,169.112826,173.330246,76138300,0.0,0.0
2022-01-12 00:00:00-05:00,174.359841,175.409245,173.072846,173.775742,74805200,0.0,0.0
2022-01-13 00:00:00-05:00,174.023234,174.854835,170.073105,170.469116,84505800,0.0,0.0
2022-01-14 00:00:00-05:00,169.627626,172.043243,169.380125,171.340347,80440800,0.0,0.0

In [65]:
drop_cols = ['Open', 'Low', 'High','Volume', 'Dividends', 'Stock Splits']

In [66]:
APPL = APPL.drop(columns=drop_cols, axis = 1)
APPL

                                Close
Date
2022-01-03 00:00:00-05:00  180.190964
2022-01-04 00:00:00-05:00  177.904068
2022-01-05 00:00:00-05:00  173.171829
2022-01-06 00:00:00-05:00  170.281006
2022-01-07 00:00:00-05:00  170.449310
...                               ...
2022-12-23 00:00:00-05:00  131.299820
2022-12-27 00:00:00-05:00  129.477600
2022-12-28 00:00:00-05:00  125.504539
2022-12-29 00:00:00-05:00  129.059387
2022-12-30 00:00:00-05:00  129.378006

[251 rows x 1 columns]

In [72]:
APPL.head(10)

                                Close
Date
2022-01-03 00:00:00-05:00  180.190979
2022-01-04 00:00:00-05:00  177.904068
2022-01-05 00:00:00-05:00  173.171814
2022-01-06 00:00:00-05:00  170.281021
2022-01-07 00:00:00-05:00  170.449295
2022-01-10 00:00:00-05:00  170.469101
2022-01-11 00:00:00-05:00  173.330246
2022-01-12 00:00:00-05:00  173.775742
2022-01-13 00:00:00-05:00  170.469101
2022-01-14 00:00:00-05:00  171.340332

In [88]:
APPL.loc["2022-6-15"]

Close    134.444565
Name: 2022-06-15 00:00:00-04:00, dtype: float64

In [77]:
import pandas as pd
import yfinance as yf

# Transpose the DataFrame
APPL_transposed = APPL.T

# Sort the index (weeks) in chronological order
APPL_transposed = APPL_transposed.sort_index()

# Rename the index to 'APPL Week #X'
APPL_transposed.index = [f'APPL Week #{i}' for i in range(1, len(APPL_transposed) + 1)]

# Rename the columns to 'Day X'
APPL_transposed.columns = [f'Day {i}' for i in range(1, APPL_transposed.shape[1] + 1)]

# Display the resulting DataFrame
print(APPL_transposed)

                   Day 1       Day 2       Day 3       Day 4       Day 5  \
APPL Week #1  180.190979  177.904068  173.171814  170.281021  170.449295

                   Day 6       Day 7       Day 8       Day 9      Day 10  ...  \
APPL Week #1  170.469101  173.330246  173.775742  170.469101  171.340332  ...

                 Day 242     Day 243     Day 244     Day 245     Day 246  \
APPL Week #1  133.938553  131.807648  131.737946  134.874557  131.668243

                Day 247     Day 248     Day 249     Day 250     Day 251
APPL Week #1  131.29982  129.477585  125.504539  129.059372  129.378006

[1 rows x 251 columns]

In [68]:
#data = yf.download("AAPL", period="5d")
#data

In [69]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # download data faster

# download dataframe
data1 = pdr.get_data_yahoo("JPM", start="2022-01-01", end="2022-12-31")

[*********************100%%**********************]  1 of 1 completed

In [70]:
data1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,159.860001,162.639999,159.509995,161.699997,152.215103,13120900
2022-01-04,164.309998,168.580002,164.229996,167.830002,157.985580,20195800
2022-01-05,167.820007,168.360001,163.729996,163.779999,155.097260,17539400
2022-01-06,166.910004,167.369995,163.869995,165.520004,156.745026,14047500
2022-01-07,165.669998,167.529999,165.059998,167.160004,158.298065,13913300
...,...,...,...,...,...,...
2022-12-23,130.580002,131.440002,129.639999,131.279999,127.480034,5091900
2022-12-27,131.570007,132.220001,130.550003,131.740005,127.926727,5411000
2022-12-28,131.850006,133.410004,131.009995,132.460007,128.625885,8827700
2022-12-29,132.929993,133.270004,132.309998,133.220001,129.363876,6585200
2022-12-30,132.809998,134.330002,132.440002,134.100006,130.218430,9292500

In [71]:
drop_cols = ['Date', 'Volume', 'Open', 'Low', 'High', 'OpenInt']