In [17]:
import xgboost as xgb
import pandas as pd
import os

In [18]:
#filename = "/Users/annahauk/Desktop/Machine Learning/SP500AdjPrice.csv"
filename = os.path.join(os.getcwd(), "SP500AdjPrice.csv")
df = pd.read_csv(filename, header = 0)

In [19]:
data    = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#S%26P_500_component_stocks')
table_symbol   = data[0]
table_industry = data[0]['GICS Sector']

#these 2 lists are in order with one another
symbols = list(table_symbol.Symbol.values)
industries = list(table_industry.values) ##Industry Sector

remove = []

symbols_to_remove = ['BF.B', 'BRK.B', 'KVUE', 'VLTO','SPY']

for i, symbol in enumerate(symbols):
    if symbol in symbols_to_remove:
        remove.append(i)
#print(remove)

#list(set(industries))

for i in remove:
    symbols.remove(symbols[i])
    industries.remove(industries[i])

#print(len(symbols))
#print(set(industries))

symbol_industry = dict(zip(symbols,industries))

df_industries = pd.DataFrame({'Industry': [symbol_industry[symbol] for symbol in symbols]})
df_industries.index = symbol_industry.keys()
df_industries = df_industries.sort_index()
df_industries.head(10)

                    Industry
A                  Materials
AAL              Real Estate
AAPL  Information Technology
ABBV             Health Care
ABNB  Information Technology
ABT              Health Care
ACGL  Communication Services
ACN   Information Technology
ADBE             Industrials
ADI   Information Technology

In [20]:
a = len(symbols)

df.index = sorted(symbols)
df = df.drop(columns = "Unnamed: 0", axis = 1)
df

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547

In [21]:
df_industries = df.join(df_industries)
df_industries

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20,Industry
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410,Materials
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000,Real Estate
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612,Information Technology
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702,Health Care
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220,Consumer Discretionary
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292,Health Care
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996,Information Technology
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878,Financials
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547,Health Care

In [22]:
df = df.T
df

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Adj Close 2023-03-02,140.885956,16.120001,145.511978,151.295471,122.379997,101.632233,70.900002,262.179596,333.500000,182.840942,...,112.854477,62.735634,109.543678,37.253830,101.580025,127.485069,122.286400,306.059998,46.931580,167.849579
Adj Close 2023-03-03,143.133453,16.360001,150.617996,152.941910,125.730003,103.434532,71.300003,266.073822,344.040009,184.485214,...,115.262627,63.476681,110.930176,38.301846,103.239075,128.465866,125.497932,309.450012,47.825329,169.820999
Adj Close 2023-03-06,142.437317,16.120001,153.410370,152.177490,126.330002,101.751060,71.699997,266.498810,347.019989,183.762131,...,114.834732,63.427937,111.913521,38.825848,102.891365,128.099319,123.907082,305.809998,47.368736,168.934845
Adj Close 2023-03-07,139.553360,16.360001,151.186447,149.874420,126.940002,99.008003,70.989998,261.131866,344.799988,183.187622,...,112.605705,62.023842,109.750175,38.153538,101.500542,125.741402,122.445480,302.160004,45.114933,166.306290
Adj Close 2023-03-08,140.120193,16.590000,152.452972,146.610977,125.000000,98.433640,70.290001,260.598175,345.839996,184.802185,...,112.983849,62.794144,108.147339,37.520775,101.103165,125.602715,121.212585,307.070007,45.348087,167.909317
Adj Close 2023-03-09,138.161102,15.880000,150.179184,144.405930,119.839996,96.898705,68.379997,256.743469,338.369995,181.820694,...,109.092987,62.647881,107.311501,36.670506,99.821625,124.879494,121.650070,296.910004,40.179882,166.764313
Adj Close 2023-03-10,134.968872,15.460000,148.094894,146.718781,118.300003,96.017357,66.610001,250.012512,329.299988,180.037750,...,107.809311,61.643566,105.984001,36.512310,98.331451,123.423141,122.823318,288.190002,39.198696,160.830124
Adj Close 2023-03-13,135.933502,14.850000,150.059525,148.914017,115.959999,97.235405,65.180000,248.391556,324.269989,180.820267,...,105.729553,63.671700,104.764664,37.125298,97.258522,123.730255,123.539192,284.920013,29.114870,162.701996
Adj Close 2023-03-14,137.634033,14.660000,152.173737,150.776062,116.360001,97.591904,67.339996,249.547958,333.329987,184.812088,...,107.799370,64.320412,105.157997,37.698746,99.245422,125.523445,125.905579,292.459991,30.416636,163.846985
Adj Close 2023-03-15,133.288239,13.860000,152.572647,150.981857,113.580002,96.849197,62.740002,243.311264,333.609985,181.196655,...,104.346359,66.158409,99.926651,36.789146,95.917374,125.949463,124.543419,287.739990,29.833755,162.861298
Adj Close 2023-03-16,136.062790,14.120000,155.424850,152.197098,119.989998,98.067230,66.070000,249.982880,353.290009,184.861603,...,106.913727,66.089607,99.346474,37.016541,96.523376,126.870819,124.712440,294.929993,31.193810,165.589417
Adj Close 2023-03-17,132.442917,13.980000,154.577164,151.138672,118.150002,96.066872,63.150002,247.096771,358.140015,184.089005,...,106.515678,65.735764,98.176308,36.462883,94.109299,125.672058,123.598854,288.709991,29.085726,163.757385
Adj Close 2023-03-20,133.795410,13.960000,156.970612,153.000702,118.400002,96.918510,65.610001,249.617157,362.880005,185.287537,...,107.112747,66.237038,100.742813,36.571636,97.010162,127.683220,125.607292,290.839996,29.318878,165.101547

## <b> XGBOOST to Predict Price of Future Stock

XGBoost refers to the engineering goal to push the limit of computational resources for boosted tree algorithms. There's about 21 trading days in a month but we'll start small. To test: use the root mean square error (RMSE), mean absolute percentage error (MAPE) and mean absolute error (MAE) metrics

### Now let's try it with all stocks

In [23]:
# pip install plotly==5.18.0

In [24]:
import plotly.express as px

In [25]:
import yfinance as yf

# Initializing the Ticker object
JPM_ticker = yf.Ticker('JPM')

# Extracting the history
JP_Morgan_df = JPM_ticker.history(start='2023-03-02', end= '2023-03-20')

In [26]:
JP_Morgan_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-02 00:00:00-05:00,139.143059,139.328910,136.501834,137.998535,11106800,0.0,0.0
2023-03-03 00:00:00-05:00,138.428937,140.610395,138.008307,140.532135,9513100,0.0,0.0
2023-03-06 00:00:00-05:00,140.316899,140.903827,139.553884,139.710403,9261300,0.0,0.0
2023-03-07 00:00:00-05:00,138.918042,139.211513,134.809491,135.601852,11747600,0.0,0.0
2023-03-08 00:00:00-05:00,134.995356,135.572506,133.909523,134.799713,10002500,0.0,0.0
2023-03-09 00:00:00-05:00,133.782353,134.359519,126.406526,127.502136,25888100,0.0,0.0
2023-03-10 00:00:00-05:00,126.152193,132.315013,125.037007,130.740067,37599700,0.0,0.0
2023-03-13 00:00:00-04:00,128.353196,130.965061,126.592384,128.392319,42901100,0.0,0.0
2023-03-14 00:00:00-04:00,132.334568,132.579125,128.431436,131.688934,29648100,0.0,0.0
2023-03-15 00:00:00-04:00,128.128202,128.137994,123.970743,125.467422,34280600,0.0,0.0
2023-03-16 00:00:00-04:00,125.222865,129.077083,123.276195,127.903214,24558500,0.0,0.0
2023-03-17 00:00:00-04:00,125.584822,125.682635,122.718608,123.070770,38396000,0.0,0.0

In [27]:
#import plotly.express as px

# Creating line plot
#fig = px.line(x=JP_Morgan_df.index, y=JP_Morgan_df['Close'])

# Updating layout
#fig.update_layout(
   # title='Close Prices',
   # xaxis_title='Date',
   # yaxis_title='Price',
   # template='plotly_white',
   # xaxis_rangeslider_visible=True
#)

# Showing figure
#fig.show()

In [28]:
JPMdf = df['JPM']

In [29]:
# Creating line plot
fig = px.line(x=JPMdf.index, y=JPMdf)

# Updating layout
fig.update_layout(
    title='Close Prices',
    xaxis_title='Date',
    yaxis_title='Price',
    template='plotly_dark',
    xaxis_rangeslider_visible=True
)

# Showing figure
fig.show()

In [30]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [31]:
price_df = df.T
price_df

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547

In [32]:
y = price_df['Adj Close 2023-03-20']
X = price_df.drop(columns = 'Adj Close 2023-03-20', axis=1)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1234)
X_train.head()

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17
WST,322.372223,328.925568,323.071503,321.363251,319.395233,314.989716,314.230499,320.893707,328.236267,325.259277,336.068298,329.385101
SBAC,254.519791,257.476807,253.342926,243.354401,248.042084,241.899582,238.277573,247.139069,248.865692,254.383057,256.457001,254.015884
MKC,352.980530,367.645752,365.058960,357.487549,357.268646,351.557770,344.971375,362.482086,369.635620,377.943268,386.380280,387.793060
FOX,126.406036,125.954796,123.580887,123.728027,125.042519,120.912689,118.264099,117.165436,117.969818,113.839989,114.536469,113.859612
HUBB,236.187027,236.187027,237.653290,236.137497,236.761642,236.404984,235.533173,238.336884,239.753601,242.151138,242.725769,240.892929

In [34]:
df_industries

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20,Industry
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410,Materials
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000,Real Estate
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612,Information Technology
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702,Health Care
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220,Consumer Discretionary
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292,Health Care
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996,Information Technology
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878,Financials
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547,Health Care

In [39]:
it = df_industries[df_industries['Industry'] == 'Information Technology']
it

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20,Industry
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612,Information Technology
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002,Information Technology
ACN,262.179596,266.073822,266.498810,261.131866,260.598175,256.743469,250.012512,248.391556,249.547958,243.311264,249.982880,247.096771,249.617157,Information Technology
ADI,182.840942,184.485214,183.762131,183.187622,184.802185,181.820694,180.037750,180.820267,184.812088,181.196655,184.861603,184.089005,185.287537,Information Technology
ADM,79.668991,80.153519,80.489716,78.838394,79.016388,77.117851,75.802727,76.356468,78.067108,75.951042,75.614845,73.429565,76.069702,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TRV,180.066788,180.459961,180.224060,177.294861,174.739182,171.853867,173.592957,170.174072,169.719543,164.512146,170.164200,163.069489,166.705780,Information Technology
TSLA,190.899994,197.789993,193.809998,187.710007,182.000000,172.919998,173.440002,174.479996,183.259995,180.449997,184.130005,180.130005,183.250000,Information Technology
VLTO,180.471634,181.716476,179.047546,176.498123,178.181152,173.351181,168.590912,165.294571,166.818253,162.137680,165.523636,160.355072,162.595779,Information Technology
WDC,38.380001,38.590000,37.779999,37.310001,37.900002,37.060001,36.060001,35.320000,35.290001,34.389999,35.340000,35.080002,35.200001,Information Technology
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996,Information Technology

In [ ]:
#JPM = df['JPM'].to_frame().T

In [40]:
it = it.drop(columns="Industry", axis = 1)

In [41]:
y_it = it['Adj Close 2023-03-20']
X_it = it.drop(columns = 'Adj Close 2023-03-20', axis=1)

In [42]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_it, y_it, test_size=0.33, random_state=1234)
X_train2.head()

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17
AMP,337.968781,341.964111,340.774445,334.330353,334.072571,312.866486,299.195068,284.353790,295.150146,281.102020,285.602966,279.010132
IR,58.253010,59.432266,59.832005,59.332325,59.422264,58.103104,55.704632,54.675282,55.664654,52.896416,53.486038,52.426712
CMS,249.229431,254.344711,254.147583,252.600204,252.797318,246.972397,238.338531,232.858566,234.366531,227.171646,228.502197,221.967667
EXR,105.779999,107.610001,108.550003,107.510002,107.230003,100.800003,98.290001,95.000000,94.099998,91.730003,95.120003,93.419998
PKG,137.184052,138.477982,134.022232,133.545547,134.323837,131.920868,128.827148,127.144089,129.020203,126.220741,126.878860,125.061676

# For just the IT companies

In [43]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

print('Begin Implementation...')

# Create GradientBoostingRegressor model objects
gbdt_it_2_model = GradientBoostingRegressor(n_estimators=50, max_depth=2)
gbdt_it_10_model = GradientBoostingRegressor(n_estimators=50, max_depth=10)

# Fit the models
gbdt_it_2_model.fit(X_train2, y_train2)
gbdt_it_10_model.fit(X_train2, y_train2)

# Make predictions using predict
gbdt_it_2_predictions = gbdt_it_2_model.predict(X_test2)
gbdt_it_10_predictions = gbdt_it_10_model.predict(X_test2)

# Calculate RMSE and MAE
rmse_it_2 = np.sqrt(mean_squared_error(y_test2, gbdt_it_2_predictions))
mae_it_2 = mean_absolute_error(y_test2, gbdt_it_2_predictions)

rmse_it_10 = np.sqrt(mean_squared_error(y_test2, gbdt_it_10_predictions))
mae_it_10 = mean_absolute_error(y_test2, gbdt_it_10_predictions)

print('RMSE for max_depth=2:', rmse_it_2)
print('MAE for max_depth=2:', mae_it_2)

print('RMSE for max_depth=10:', rmse_it_10)
print('MAE for max_depth=10:', mae_it_10)

print('End')
# In this modified code, we use the predict method for regression to get the predictions for gbdt_2_model and gbdt_10_model. We then calculate the RMSE and MAE for both models and print the results.

Begin Implementation...
RMSE for max_depth=2: 11.846780070729448
MAE for max_depth=2: 8.40565177367476
RMSE for max_depth=10: 10.081589035011897
MAE for max_depth=10: 7.414304243852214
End

# For all the Stocks

In [44]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

print('Begin Implementation...')

# Create GradientBoostingRegressor model objects
gbdt_2_model = GradientBoostingRegressor(n_estimators=50, max_depth=2)
gbdt_10_model = GradientBoostingRegressor(n_estimators=50, max_depth=10)

# Fit the models
gbdt_2_model.fit(X_train, y_train)
gbdt_10_model.fit(X_train, y_train)

# Make predictions using predict
gbdt_2_predictions = gbdt_2_model.predict(X_test)
gbdt_10_predictions = gbdt_10_model.predict(X_test)

# Calculate RMSE and MAE
rmse_2 = np.sqrt(mean_squared_error(y_test, gbdt_2_predictions))
mae_2 = mean_absolute_error(y_test, gbdt_2_predictions)

rmse_10 = np.sqrt(mean_squared_error(y_test, gbdt_10_predictions))
mae_10 = mean_absolute_error(y_test, gbdt_10_predictions)

print('RMSE for max_depth=2:', rmse_2)
print('MAE for max_depth=2:', mae_2)

print('RMSE for max_depth=10:', rmse_10)
print('MAE for max_depth=10:', mae_10)

print('End')
# In this modified code, we use the predict method for regression to get the predictions for gbdt_2_model and gbdt_10_model. We then calculate the RMSE and MAE for both models and print the results.

Begin Implementation...
RMSE for max_depth=2: 333.37739975717176
MAE for max_depth=2: 40.88458904360223
RMSE for max_depth=10: 331.5802417531385
MAE for max_depth=10: 39.563523157285914
End