In [50]:
import xgboost as xgb
import pandas as pd
import os

In [51]:
#filename = "/Users/annahauk/Desktop/Machine Learning/SP500AdjPrice.csv"
filename = os.path.join(os.getcwd(), "SP500AdjPrice.csv")
df = pd.read_csv(filename, header = 0)

In [52]:
data    = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#S%26P_500_component_stocks')
table_symbol   = data[0]
table_industry = data[0]['GICS Sector']

#these 2 lists are in order with one another
symbols = list(table_symbol.Symbol.values)
industries = list(table_industry.values) ##Industry Sector

remove = []

symbols_to_remove = ['BF.B', 'BRK.B', 'KVUE', 'VLTO','SPY']

for i, symbol in enumerate(symbols):
    if symbol in symbols_to_remove:
        remove.append(i)
#print(remove)

#list(set(industries))

for i in remove:
    symbols.remove(symbols[i])
    industries.remove(industries[i])

#print(len(symbols))
#print(set(industries))

symbol_industry = dict(zip(symbols,industries))

df_industries = pd.DataFrame({'Industry': [symbol_industry[symbol] for symbol in symbols]})
df_industries.index = symbol_industry.keys()
df_industries = df_industries.sort_index()
df_industries.head(10)

                    Industry
A                  Materials
AAL              Real Estate
AAPL  Information Technology
ABBV             Health Care
ABNB  Information Technology
ABT              Health Care
ACGL  Communication Services
ACN   Information Technology
ADBE             Industrials
ADI   Information Technology

In [53]:
a = len(symbols)

df.index = sorted(symbols)
df = df.drop(columns = "Unnamed: 0", axis = 1)
df

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547

In [54]:
df_industries = df.join(df_industries)
df_industries

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20,Industry
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410,Materials
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000,Real Estate
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612,Information Technology
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702,Health Care
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220,Consumer Discretionary
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292,Health Care
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996,Information Technology
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878,Financials
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547,Health Care

In [55]:
df = df.T
df

,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Adj Close 2023-03-02,140.885956,16.120001,145.511978,151.295471,122.379997,101.632233,70.900002,262.179596,333.500000,182.840942,...,112.854477,62.735634,109.543678,37.253830,101.580025,127.485069,122.286400,306.059998,46.931580,167.849579
Adj Close 2023-03-03,143.133453,16.360001,150.617996,152.941910,125.730003,103.434532,71.300003,266.073822,344.040009,184.485214,...,115.262627,63.476681,110.930176,38.301846,103.239075,128.465866,125.497932,309.450012,47.825329,169.820999
Adj Close 2023-03-06,142.437317,16.120001,153.410370,152.177490,126.330002,101.751060,71.699997,266.498810,347.019989,183.762131,...,114.834732,63.427937,111.913521,38.825848,102.891365,128.099319,123.907082,305.809998,47.368736,168.934845
Adj Close 2023-03-07,139.553360,16.360001,151.186447,149.874420,126.940002,99.008003,70.989998,261.131866,344.799988,183.187622,...,112.605705,62.023842,109.750175,38.153538,101.500542,125.741402,122.445480,302.160004,45.114933,166.306290
Adj Close 2023-03-08,140.120193,16.590000,152.452972,146.610977,125.000000,98.433640,70.290001,260.598175,345.839996,184.802185,...,112.983849,62.794144,108.147339,37.520775,101.103165,125.602715,121.212585,307.070007,45.348087,167.909317
Adj Close 2023-03-09,138.161102,15.880000,150.179184,144.405930,119.839996,96.898705,68.379997,256.743469,338.369995,181.820694,...,109.092987,62.647881,107.311501,36.670506,99.821625,124.879494,121.650070,296.910004,40.179882,166.764313
Adj Close 2023-03-10,134.968872,15.460000,148.094894,146.718781,118.300003,96.017357,66.610001,250.012512,329.299988,180.037750,...,107.809311,61.643566,105.984001,36.512310,98.331451,123.423141,122.823318,288.190002,39.198696,160.830124
Adj Close 2023-03-13,135.933502,14.850000,150.059525,148.914017,115.959999,97.235405,65.180000,248.391556,324.269989,180.820267,...,105.729553,63.671700,104.764664,37.125298,97.258522,123.730255,123.539192,284.920013,29.114870,162.701996
Adj Close 2023-03-14,137.634033,14.660000,152.173737,150.776062,116.360001,97.591904,67.339996,249.547958,333.329987,184.812088,...,107.799370,64.320412,105.157997,37.698746,99.245422,125.523445,125.905579,292.459991,30.416636,163.846985
Adj Close 2023-03-15,133.288239,13.860000,152.572647,150.981857,113.580002,96.849197,62.740002,243.311264,333.609985,181.196655,...,104.346359,66.158409,99.926651,36.789146,95.917374,125.949463,124.543419,287.739990,29.833755,162.861298
Adj Close 2023-03-16,136.062790,14.120000,155.424850,152.197098,119.989998,98.067230,66.070000,249.982880,353.290009,184.861603,...,106.913727,66.089607,99.346474,37.016541,96.523376,126.870819,124.712440,294.929993,31.193810,165.589417
Adj Close 2023-03-17,132.442917,13.980000,154.577164,151.138672,118.150002,96.066872,63.150002,247.096771,358.140015,184.089005,...,106.515678,65.735764,98.176308,36.462883,94.109299,125.672058,123.598854,288.709991,29.085726,163.757385
Adj Close 2023-03-20,133.795410,13.960000,156.970612,153.000702,118.400002,96.918510,65.610001,249.617157,362.880005,185.287537,...,107.112747,66.237038,100.742813,36.571636,97.010162,127.683220,125.607292,290.839996,29.318878,165.101547

## <b> XGBOOST to Predict Price of Future Stock

XGBoost refers to the engineering goal to push the limit of computational resources for boosted tree algorithms. There's about 21 trading days in a month but we'll start small. To test: use the root mean square error (RMSE), mean absolute percentage error (MAPE) and mean absolute error (MAE) metrics

### Now let's try it with all stocks

In [56]:
# pip install plotly==5.18.0

In [57]:
import plotly.express as px

In [58]:
import yfinance as yf

# Initializing the Ticker object
JPM_ticker = yf.Ticker('JPM')

# Extracting the history
JP_Morgan_df = JPM_ticker.history(start='2023-03-02', end= '2023-03-20')

In [59]:
JP_Morgan_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-02 00:00:00-05:00,139.143044,139.328895,136.501819,137.998520,11106800,0.0,0.0
2023-03-03 00:00:00-05:00,138.428937,140.610395,138.008307,140.532135,9513100,0.0,0.0
2023-03-06 00:00:00-05:00,140.316899,140.903827,139.553884,139.710403,9261300,0.0,0.0
2023-03-07 00:00:00-05:00,138.918058,139.211529,134.809506,135.601868,11747600,0.0,0.0
2023-03-08 00:00:00-05:00,134.995356,135.572506,133.909523,134.799713,10002500,0.0,0.0
2023-03-09 00:00:00-05:00,133.782353,134.359519,126.406526,127.502136,25888100,0.0,0.0
2023-03-10 00:00:00-05:00,126.152193,132.315013,125.037007,130.740067,37599700,0.0,0.0
2023-03-13 00:00:00-04:00,128.353196,130.965061,126.592384,128.392319,42901100,0.0,0.0
2023-03-14 00:00:00-04:00,132.334583,132.579140,128.431451,131.688950,29648100,0.0,0.0
2023-03-15 00:00:00-04:00,128.128202,128.137994,123.970743,125.467422,34280600,0.0,0.0
2023-03-16 00:00:00-04:00,125.222858,129.077076,123.276188,127.903206,24558500,0.0,0.0
2023-03-17 00:00:00-04:00,125.584822,125.682635,122.718608,123.070770,38396000,0.0,0.0

In [60]:
#import plotly.express as px

# Creating line plot
#fig = px.line(x=JP_Morgan_df.index, y=JP_Morgan_df['Close'])

# Updating layout
#fig.update_layout(
   # title='Close Prices',
   # xaxis_title='Date',
   # yaxis_title='Price',
   # template='plotly_white',
   # xaxis_rangeslider_visible=True
#)

# Showing figure
#fig.show()

In [61]:
JPMdf = df['JPM']

In [62]:
# Creating line plot
fig = px.line(x=JPMdf.index, y=JPMdf)

# Updating layout
fig.update_layout(
    title='Close Prices',
    xaxis_title='Date',
    yaxis_title='Price',
    template='plotly_dark',
    xaxis_rangeslider_visible=True
)

# Showing figure
fig.show()

In [63]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [64]:
price_df = df.T
price_df

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547

In [65]:
y = price_df['Adj Close 2023-03-20']
X = price_df.drop(columns = 'Adj Close 2023-03-20', axis=1)

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1234)
X_train.head()

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17
AIG,58.893375,59.060158,59.197510,57.382538,56.264118,54.743469,52.143646,49.121960,50.152081,47.051910,49.570435,46.656849
TPR,42.798538,43.383884,42.476597,41.988811,42.076611,40.868248,40.632473,40.151089,40.760185,39.836716,40.435986,40.180565
COST,154.053391,155.296555,155.604874,152.372650,151.030014,149.180176,148.782364,147.559082,148.474060,148.792313,151.218979,151.189148
KMI,123.206741,123.031662,122.730133,120.220673,120.415215,120.405388,120.140236,120.866943,121.426689,123.557671,124.628075,123.115761
HD,242.091034,248.288559,250.016724,243.660278,249.718750,250.414001,244.921631,245.388443,248.983795,245.785706,253.262741,249.559067

In [67]:
df_industries

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20,Industry
A,140.885956,143.133453,142.437317,139.553360,140.120193,138.161102,134.968872,135.933502,137.634033,133.288239,136.062790,132.442917,133.795410,Materials
AAL,16.120001,16.360001,16.120001,16.360001,16.590000,15.880000,15.460000,14.850000,14.660000,13.860000,14.120000,13.980000,13.960000,Real Estate
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612,Information Technology
ABBV,151.295471,152.941910,152.177490,149.874420,146.610977,144.405930,146.718781,148.914017,150.776062,150.981857,152.197098,151.138672,153.000702,Health Care
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,127.485069,128.465866,128.099319,125.741402,125.602715,124.879494,123.423141,123.730255,125.523445,125.949463,126.870819,125.672058,127.683220,Consumer Discretionary
ZBH,122.286400,125.497932,123.907082,122.445480,121.212585,121.650070,122.823318,123.539192,125.905579,124.543419,124.712440,123.598854,125.607292,Health Care
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996,Information Technology
ZION,46.931580,47.825329,47.368736,45.114933,45.348087,40.179882,39.198696,29.114870,30.416636,29.833755,31.193810,29.085726,29.318878,Financials
ZTS,167.849579,169.820999,168.934845,166.306290,167.909317,166.764313,160.830124,162.701996,163.846985,162.861298,165.589417,163.757385,165.101547,Health Care

In [68]:
it = df_industries[df_industries['Industry'] == 'Information Technology']
it

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17,Adj Close 2023-03-20,Industry
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164,156.970612,Information Technology
ABNB,122.379997,125.730003,126.330002,126.940002,125.000000,119.839996,118.300003,115.959999,116.360001,113.580002,119.989998,118.150002,118.400002,Information Technology
ACN,262.179596,266.073822,266.498810,261.131866,260.598175,256.743469,250.012512,248.391556,249.547958,243.311264,249.982880,247.096771,249.617157,Information Technology
ADI,182.840942,184.485214,183.762131,183.187622,184.802185,181.820694,180.037750,180.820267,184.812088,181.196655,184.861603,184.089005,185.287537,Information Technology
ADM,79.668991,80.153519,80.489716,78.838394,79.016388,77.117851,75.802727,76.356468,78.067108,75.951042,75.614845,73.429565,76.069702,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TRV,180.066788,180.459961,180.224060,177.294861,174.739182,171.853867,173.592957,170.174072,169.719543,164.512146,170.164200,163.069489,166.705780,Information Technology
TSLA,190.899994,197.789993,193.809998,187.710007,182.000000,172.919998,173.440002,174.479996,183.259995,180.449997,184.130005,180.130005,183.250000,Information Technology
VLTO,180.471634,181.716476,179.047546,176.498123,178.181152,173.351181,168.590912,165.294571,166.818253,162.137680,165.523636,160.355072,162.595779,Information Technology
WDC,38.380001,38.590000,37.779999,37.310001,37.900002,37.060001,36.060001,35.320000,35.290001,34.389999,35.340000,35.080002,35.200001,Information Technology
ZBRA,306.059998,309.450012,305.809998,302.160004,307.070007,296.910004,288.190002,284.920013,292.459991,287.739990,294.929993,288.709991,290.839996,Information Technology

In [69]:
#JPM = df['JPM'].to_frame().T

In [70]:
it = it.drop(columns="Industry", axis = 1)

In [71]:
y_it = it['Adj Close 2023-03-20']
X_it = it.drop(columns = 'Adj Close 2023-03-20', axis=1)

In [72]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_it, y_it, test_size=0.5, random_state=1234)
X_train2.head()

,Adj Close 2023-03-02,Adj Close 2023-03-03,Adj Close 2023-03-06,Adj Close 2023-03-07,Adj Close 2023-03-08,Adj Close 2023-03-09,Adj Close 2023-03-10,Adj Close 2023-03-13,Adj Close 2023-03-14,Adj Close 2023-03-15,Adj Close 2023-03-16,Adj Close 2023-03-17
ACN,262.179596,266.073822,266.498810,261.131866,260.598175,256.743469,250.012512,248.391556,249.547958,243.311264,249.982880,247.096771
NDAQ,219.594223,221.671875,219.713516,218.311844,219.077286,216.890289,211.661377,209.474396,210.955597,205.169998,205.179932,202.814011
ROL,34.738930,35.096649,35.096649,34.887978,34.808487,34.589878,34.450760,34.818420,35.613361,35.921406,36.259254,35.841911
TSLA,190.899994,197.789993,193.809998,187.710007,182.000000,172.919998,173.440002,174.479996,183.259995,180.449997,184.130005,180.130005
AAPL,145.511978,150.617996,153.410370,151.186447,152.452972,150.179184,148.094894,150.059525,152.173737,152.572647,155.424850,154.577164

# For just the IT companies

In [73]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

print('Begin Implementation...')

# Create GradientBoostingRegressor model objects
gbdt_it_2_model = GradientBoostingRegressor(n_estimators=50, max_depth=2)
gbdt_it_10_model = GradientBoostingRegressor(n_estimators=50, max_depth=10)

# Fit the models
gbdt_it_2_model.fit(X_train2, y_train2)
gbdt_it_10_model.fit(X_train2, y_train2)

# Make predictions using predict
gbdt_it_2_predictions = gbdt_it_2_model.predict(X_test2)
gbdt_it_10_predictions = gbdt_it_10_model.predict(X_test2)

# Calculate RMSE and MAE
rmse_it_2 = np.sqrt(mean_squared_error(y_test2, gbdt_it_2_predictions))
mae_it_2 = mean_absolute_error(y_test2, gbdt_it_2_predictions)

rmse_it_10 = np.sqrt(mean_squared_error(y_test2, gbdt_it_10_predictions))
mae_it_10 = mean_absolute_error(y_test2, gbdt_it_10_predictions)

print('RMSE for max_depth=2:', rmse_it_2)
print('MAE for max_depth=2:', mae_it_2)

print('RMSE for max_depth=10:', rmse_it_10)
print('MAE for max_depth=10:', mae_it_10)

print('End')
# In this modified code, we use the predict method for regression to get the predictions for gbdt_2_model and gbdt_10_model. We then calculate the RMSE and MAE for both models and print the results.

Begin Implementation...
RMSE for max_depth=2: 10.93314312734436
MAE for max_depth=2: 7.580943117883033
RMSE for max_depth=10: 10.735078529887035
MAE for max_depth=10: 7.861876869999447
End

In [74]:
import xgboost
from xgboost import XGBRegressor
model2 = XGBRegressor()
model2.fit(X_it,y_it)
yhat2 = model2.predict(X_test2)
# summarize prediction
print('Predicted: ', yhat2)

Predicted:  [111.70225  185.41843  332.02823  313.59534  138.08342   29.833801
 258.94986   39.50207   76.068695 199.08798  234.16843   28.02466
  57.81999   52.48269   55.12911  123.414955  95.064125 270.4221
  15.256422 236.64285  290.83884   25.429499 285.334     53.883186
 226.658     94.558754 131.13072  126.16901   77.65108  118.39904
  59.009373  35.200348]

In [75]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from numpy import absolute

cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores2 = cross_val_score(model2, X_it, y_it, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
scores2 = absolute(scores2)
print('Mean MAE: %.3f (%.3f)' % (scores2.mean(), scores2.std()) )

Mean MAE: 9.030 (3.947)

In [76]:
model2_hyper = XGBRegressor(n_estimators=10000, max_depth=25, eta=0.1, subsample=0.7, colsample_bytree=0.8)
model2_hyper.fit(X_it,y_it)
yhat2_hyper = model2.predict(X_test2)
cv2 = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores2_hyper = cross_val_score(model2, X_it, y_it, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
scores2_hyper = absolute(scores2)
scores2_hyper
#print('Mean MAE: %.3f (%.3f)' % (scores2_hyper.mean(), scores2_hyper.std()) )

array([10.89411327,  1.9323176 , 18.91286223, 15.11746979,  8.77705002,
        4.60892105,  6.99332047,  9.41270256,  6.83179728,  7.69097773,
        6.16318185,  3.66138022,  8.77479717,  8.97134726,  7.78916868,
        4.80622196, 17.43419075, 15.46969732,  7.02477837,  7.39907503,
       11.72085026,  8.04272788,  7.90829304,  4.02128506, 11.87704213,
       10.03380966,  8.55712255,  7.62939374, 14.17345619,  8.28006172])

# <b>For all the Stocks</b>

In [77]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

print('Begin Implementation...')

# Create GradientBoostingRegressor model objects
gbdt_2_model = GradientBoostingRegressor(n_estimators=50, max_depth=2)
gbdt_10_model = GradientBoostingRegressor(n_estimators=50, max_depth=10)

# Fit the models
gbdt_2_model.fit(X_train, y_train)
gbdt_10_model.fit(X_train, y_train)

# Make predictions using predict
gbdt_2_predictions = gbdt_2_model.predict(X_test)
gbdt_10_predictions = gbdt_10_model.predict(X_test)

# Calculate RMSE and MAE
rmse_2 = np.sqrt(mean_squared_error(y_test, gbdt_2_predictions))
mae_2 = mean_absolute_error(y_test, gbdt_2_predictions)

rmse_10 = np.sqrt(mean_squared_error(y_test, gbdt_10_predictions))
mae_10 = mean_absolute_error(y_test, gbdt_10_predictions)

print('RMSE for max_depth=2:', rmse_2)
print('MAE for max_depth=2:', mae_2)

print('RMSE for max_depth=10:', rmse_10)
print('MAE for max_depth=10:', mae_10)

print('End')
# In this modified code, we use the predict method for regression to get the predictions for gbdt_2_model and gbdt_10_model. We then calculate the RMSE and MAE for both models and print the results.

Begin Implementation...
RMSE for max_depth=2: 337.7950674821822
MAE for max_depth=2: 41.655678012800436
RMSE for max_depth=10: 336.5720369542089
MAE for max_depth=10: 40.479779436235226
End

In [78]:
import xgboost
from xgboost import XGBRegressor

In [79]:
#pip install xgboost

Requirement already satisfied: xgboost in /opt/homebrew/lib/python3.11/site-packages (2.0.1)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.11/site-packages (from xgboost) (1.25.2)
Requirement already satisfied: scipy in /opt/homebrew/lib/python3.11/site-packages (from xgboost) (1.11.2)
Note: you may need to restart the kernel to use updated packages.

In [80]:
model1 = XGBRegressor()
model1.fit(X,y)
yhat = model1.predict(X_test)
# summarize prediction
print('Predicted: ', yhat)

Predicted:  [  77.96854     48.953247   209.58365     75.11655     67.29187
 3459.7578     156.2018      57.121094    42.076912    66.54065
  103.42318     65.726295   166.47238     67.99846    274.17606
   72.63348    249.75339     15.177965    61.28253    162.07861
   12.579479   213.3992      10.584022    35.365826   197.64969
   98.53439    101.43184     84.77943     71.6012     332.59265
   40.217506   156.9956     375.6658     138.16191    126.87535
   59.78876     68.18287     72.21672     96.225624   106.98687
  316.98505     25.419529    58.177048   180.14899    120.1963
   92.579094    69.49971    101.27984     75.11792    633.1538
  240.49907     77.3995      55.060043   265.13266     36.882202
  164.98163    314.90338     49.1448      74.62417     49.16844
   38.46684    130.6812      90.89639     46.860535   144.0445
   85.12812     84.167564   107.96991     17.645853    52.721046
   94.81738     55.845802   160.9432     549.8703     200.76276
   43.143887   201.86887     58.19863   3459.7578     463.8555
  182.65628     84.708824    78.62739    104.84151     10.3883915
  143.3459     119.22638     61.016575   108.19241     27.849323
  127.89285     73.94795     35.52037    117.11115     44.28002
  483.31714     25.267172   213.91351    133.61629     58.37783
  103.68154     14.059228    92.06977     15.99187    298.98608
  430.819      197.83289    140.8873      71.18505    154.09003
  218.0736      27.717001   212.4993      37.749245    63.444523
  234.25299    114.010216    43.155537   185.04451    137.90756
  236.6195     230.08788    185.36914     77.19001     86.5491
  111.912125  3459.7578      71.901985   307.84784     21.59093
  107.42928     95.15537    272.35632     57.532253    28.799156
   54.8903      41.67696    112.52505     52.472797   269.77112
   30.780153   291.7986     218.27063     61.26217     93.56714
   43.43648     35.723415   226.60371     85.88391     46.76431
 1542.5422     187.7801     213.8106      98.40631     49.93568
   33.12311     51.365517    17.645853   121.10616    299.37375
   58.818993    65.91644     15.99187    146.48776    224.95618
  331.51282    255.37727    384.79773    116.85988    242.98734
  101.21175    387.56445    100.74744    487.31293     42.90559
  151.78181    491.63556    195.29941    344.82416    258.94977
  300.36102    122.89528    178.78783    217.27185    104.01207
   30.493792    30.376902    55.911415   117.91777    375.76605
  236.73064    184.6573     123.75917     74.87209    198.8804
   79.99543    104.70629    103.88809    204.89505     59.95702
  155.72208     95.123215   162.15506     10.892441    45.794445
   96.25707     17.526978  1542.5422     208.05956    682.39954
  101.63801    472.90558     65.70018    417.60538     50.491123
   67.83438     39.27127     78.491455   110.26749     36.835552
  150.95105    106.303406   125.67405    682.93964     33.01401
  108.10224    151.2686     108.940544   285.25015     28.070389
  119.900696   125.65251    145.59885    185.22984     79.389946
  204.43727     32.68211    347.6402      28.808887   469.4975
  340.91666    348.7716      73.3049     409.62698     44.56951
  124.45954     37.167267    98.67579     61.440914   124.05718  ]

In [81]:
# model = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)

In [82]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from numpy import absolute

In [83]:

cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model1, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
scores = absolute(scores)
print('Mean MAE: %.3f (%.3f)' % (scores.mean(), scores.std()) )

Mean MAE: 15.877 (20.708)

In [84]:
import os
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Create a DMatrix
dtrain = xgb.DMatrix(data=X, label=y)

param = {"max_depth": 2, "eta": 1, "objective": "reg:squarederror"}  # Use regression objective
num_round = 2

print("running cross-validation")

# Perform cross-validation
results = xgb.cv(param, dtrain, num_round, nfold=5, metrics=["rmse", "mae"], seed=0)

# Extract RMSE and MAE from the results
rmse_mean = results["test-rmse-mean"].values[-1]
rmse_std = results["test-rmse-std"].values[-1]
mae_mean = results["test-mae-mean"].values[-1]
mae_std = results["test-mae-std"].values[-1]

print(f"RMSE: {rmse_mean} ± {rmse_std}")
print(f"MAE: {mae_mean} ± {mae_std}")

running cross-validation
RMSE: 155.39756581140233 ± 102.24459005363957
MAE: 57.088810021101835 ± 15.642752403760358